@charset "UTF-8";
/*!--RESET--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  display: flex !important; }

/*!--BODY--*/
body {
  height: 100vh;
  width: 100vw; }

.container-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/* Ajustes generales pages servicios*/
/*!--main pages servicios */
.imgBannerpages {
  width: 100%;
  height: 16vh;
  z-index: -1; }

.bannerServicios {
  position: relative;
  height: 700px;
  overflow: hidden; }

.bannerListadeservicios {
  padding: 40px 0px 40px 106px; }

.bannerTextosservicios {
  font-family: 'Poppins', sans-serif;
  padding: 40px 0px 40px 106px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0; }

.bannerTítulopagesservicios {
  color: #000;
  font-family: Poppins;
  font-size: 86px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 1236px; }

.subtítuloPagesservicios {
  color: #000;
  font-family: Bebas Neue;
  font-size: 40px;
  font-style: normal;
  display: flex;
  width: 1512px;
  height: 148px;
  padding-top: 20px; }

.ptextoPagesservicios {
  font-size: 2rem;
  display: flex;
  width: 1512px;
  height: 180px; }

.serviciosTítulopage {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 1236px; }

/*!--HEADER--*/
div .container-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

main {
  padding-top: 63.64px; }
  main figure img .imgbanner {
    width: 100%;
    height: 100vh;
    z-index: -1; }
  main figure div .bannerTextos {
    position: absolute;
    height: 85%;
    width: 70%;
    top: 15%;
    bottom: 15%;
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.6);
    padding: 40px 0px 40px 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0; }
    main figure div .bannerTextos div .bannerDisciplines {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-shrink: 0; }
    main figure div .bannerTextos div h2 .bannerTextosPrincipal {
      font-size: 5rem;
      font-weight: 700; }
    main figure div .bannerTextos div div .textoBanner {
      height: 17%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-shrink: 0; }
    main figure div .bannerTextos div div h1 .textoBanner h1 {
      line-height: 2rem;
      font-family: 'Poppins', sans-serif;
      font-size: 3rem;
      font-weight: 600; }
    main figure div .bannerTextos div div h1 p .textoBanner p {
      line-height: 2rem;
      font-family: 'Poppins', sans-serif;
      font-size: 2.5rem; }

/* Ajustes page contacto */
/*!--main page form contacto--*/
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center; }

.div1,
.div2 {
  width: 50%; }

main form div label {
  font-family: 'Poppins', sans-serif; }

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

main form div h2 {
  text-align: left;
  margin-bottom: 20px; }

label {
  display: block;
  margin-bottom: 5px; }

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; }

input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #a9acad;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif; }

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #a9acad;
  font-family: 'Poppins', sans-serif; }

.contacto-h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 76px;
  font-weight: 700; }

.contacto-label {
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem; }

.contacto-input {
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; }

.contacto-button {
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; }

/* AJUSTES MEDIAQUERY */
@media screen and (max-width: 1440px) {
  /*Nuevas Medidas*/
  /*!--main section banner--*/
  /* Ajustes para la sección banner */
  .imgbanner {
    width: 100%;
    height: 80vh;
    z-index: -1; }
  .bannerTextos {
    position: absolute;
    height: 730px;
    width: 70%;
    top: 12.5%;
    bottom: 10%;
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.6);
    padding: 40px 0px 40px 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0; }
  /* Ajustes para la sección freelance */
  .freelance {
    padding: 2.5px 0; }
  .cardFreelance {
    padding: 6vh 100px 6vh 100px; }
  .cardFreelance h2 {
    font-size: 22px; }
  .cardFreelance p {
    font-size: 16px; }
  .cardFreelance ul li {
    font-size: 14px; }
  /* Ajustes generales pages servicios*/
  /*!--main pages servicios */
  .bannerTítulopagesservicios {
    font-size: 76px; }
  .subtítuloPagesservicios {
    font-size: 35px; }
  .ptextoPagesservicios {
    width: 1440px; }
  .serviciosTítulopage {
    font-size: 35px; } }

/*Falta ajustes el subtítulo y el texto en servicios*/
@media screen and (max-width: 1370px) {
  /*Nuevas Medidas*/
  /* Ajustes para la sección banner */
  .bannerTextos {
    height: 580px; }
  /* Ajustes para la sección freelance */
  .cardFreelance {
    padding: 5vh 100px 5vh 100px; }
  .cardFreelance h2 {
    font-size: 20px; }
  .cardFreelance p {
    font-size: 16px; }
  .cardFreelance ul li {
    font-size: 12px; }
  /* Ajustes generales pages servicios*/
  .bannerTítulopagesservicios {
    font-size: 76px; }
  .subtítuloPagesservicios {
    font-size: 35px; }
  .ptextoPagesservicios {
    width: 1440px; }
  .serviciosTítulopage {
    font-size: 35px; } }

@media screen and (max-width: 1380px) {
  /* Ajustes para la sección freelance */
  .cardFreelance h2 {
    font-size: 18px; }
  .cardFreelance p {
    font-size: 14px; }
  .cardFreelance ul li {
    font-size: 11px; } }

@media screen and (max-width: 1320px) {
  /*Nuevas Medidas*/
  /* Ajustes para sección banner */
  /*!--main section banner--*/
  .imgbanner {
    width: 100%;
    height: 75vh;
    z-index: -1; }
  .bannerTextos {
    position: absolute;
    height: 65%;
    width: 70%;
    top: 12.5%; }
  .bannerTextosPrincipal {
    font-size: 4rem;
    font-weight: 700; } }

@media screen and (max-width: 1260px) {
  /*Nuevas Medidas*/
  /* Ajustes para la sección freelance */
  .freelance {
    padding: 2.5px 0; }
  .cardFreelance {
    padding: 6vh 100px 6vh 100px; }
  .cardFreelance h2 {
    font-size: 20px; }
  .cardFreelance p {
    font-size: 14px; }
  .cardFreelance ul li {
    font-size: 12px; }
  /* Ajustes para s. concentrate*/
  .concentrate p {
    font-size: 2.3rem; }
  /* Ajustes para la sección requerimientos */
  .textR1 {
    font-size: 54px; }
  .textR2 {
    font-size: 86px; } }

@media screen and (max-width: 1250px) {
  /* Ajustes para la sección freelance */
  .cardFreelance {
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px; }
  .cardFreelance ul li {
    font-size: 12px; }
  /* Ajustes page contacto */
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto; }
  .div1,
  .div2 {
    width: 50%; }
  form {
    padding: 15px; }
  label {
    margin-bottom: 4px; }
  .contacto-h2 {
    font-size: 66px; }
  .contacto-label {
    line-height: 2rem;
    font-size: 2rem; } }
