/*!--RESET--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  display: flex !important;
}

/*!--BODY--*/
body {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

.container-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*!--HEADER--*/
.bg-light {
  background: #E7EFF2 !important;
  position: fixed;
  z-index: 99;
}
.nav-link {
  color: rgba(0, 0, 0, 0.50);
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*!--MAIN--*/
main {
  padding-top: 63.64px;
}

/*!--main section banner--*/
/* Ajustes para la sección banner */
.imgbanner {
  width: 100%;
  height: 100vh;
  z-index: -1;
}


.bannerTextos {
  position: absolute;
  height: 85%;
  width: 70%;
  top: 15%;
  bottom: 15%;
  font-family: 'Poppins', sans-serif;
  background: rgba(255, 255, 255, 0.60);
  padding: 40px 0px 40px 106px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.bannerTextosPrincipal {
  font-size: 5rem;
  font-weight: 700;
}

.textoBanner {
  height: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.textoBanner h1 {
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.textoBanner p {
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
}

.bannerDisciplines {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

/*!--main section card--*/
/* Ajustes para la sección card */
.card-container {
  width: 100%;
  height: 792px;
  padding: 2px 100px 4px 100px;
  align-items: flex-start;
  gap: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  display: flex;
}

.cardDiseño {
  width: 400px;
  height: 686px;
  padding: 50px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms easy;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
}

/* Individual Cards */
.diseño1 {
  background: linear-gradient(180deg, rgba(91, 222, 196, 0.20) 0%, rgba(91, 222, 196, 0.80) 100%);
}

.diseño2 {
  background: linear-gradient(180deg, rgba(217, 24, 91, 0.20) 0%, rgba(217, 24, 91, 0.80) 100%);
}

.diseño3 {
  background: linear-gradient(180deg, rgba(219, 207, 0, 0.20) 0%, rgba(219, 207, 0, 0.80) 100%);
}

/* Apply hover effect on disease icon */
.card-container .diseño1:hover,
.card-container .diseño2:hover,
.card-container .diseño3:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.títuloCard {
  color: #000;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-container .pnegritaCard {
  color: #000;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-container p {
  color: rgba(0, 0, 0, 0.80);
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.alinearImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImg1 {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  align-items: center;
}

.cardImg2 {
  width: 60%;
  height: auto;
  margin-bottom: 10px;
  align-items: center;
}

.cardImg3 {
  width: 60%;
  height: auto;
  margin-bottom: 10px;
  align-items: center;
}

.button1 {
  width: 200px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0 auto;
  border-style: none;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button1:hover {
  background-color: #fff;
  /* Color de fondo al pasar el cursor */
  color: #000;
  /* Color del texto al pasar el cursor */
}

main h2 {
  font-family: 'Poppins', sans-serif;
  width: 784.218px;
  justify-content: left;
  align-items: left;
}

main p {
  font-size: medium;
  font-family: 'Poppins', sans-serif;
}

/*!--main section freelance--*/
/* Ajustes para la sección freelance */
.contenedorFreelance {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
}

.div1cardFreelance {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, rgba(91, 222, 196, 0.15) 0%, rgba(6, 87, 124, 0.40) 100%); 
  padding: 8vh 100px 8vh 100px;
  /*height: 32.9vw;*/
}

.div1cardFreelance h2 {
  font-weight: 600;
  font-size: 24px;
}

.div1cardFreelance p {
  font-weight: 400;
  font-size: 18px;
}

.liFreelance {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.imágenrightFreelance {
  width: 92%;
}

.div2cardFreelance {
  width: 50%;
  height: 50%;
}
/* Ajustes para la sección concentrate */
.concentrate {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  margin: 90px 0px;
}

.imágenConcentrate {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.pConcentrate {
  position: absolute;
  bottom: 29px;
  right: 23px;
  padding: 20px;
  max-width: 50%;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  border-radius: 0px 20px;
  background: rgba(255, 255, 255, 0.60);
  display: flex;
  width: 893px;
  height: 96px;
  justify-content: center;
  align-items: center;
}

/* Ajustes para la sección requerimientos */
.requerimientos {
  text-align: center;
  padding: 40px;
  background-color: #f4f4f4;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(219, 207, 0, 0.50) 0%, rgba(217, 97, 2, 0.50) 26.56%, rgba(217, 24, 91, 0.50) 52.08%, rgba(103, 46, 217, 0.50) 75%, rgba(14, 138, 157, 0.50) 100%);
  padding: 10rem 0;
  margin: 90px 0px;
}

.textR1 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textR2 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Bebas Neue;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*!--footer--*/
/* Ajustes para la sección footer */
#footer div i {
  width: 100;
  height: 100;
}

#footer p {
  font-size: medium;
  font-family: 'Poppins', sans-serif;
}

#footer {
  background: #E7EFF2 !important;
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
  left: 0;
}

#footer div {
  display: inline-block;
  margin: 0 10px;
}

#footer i {
  font-size: 2em;
}


/* Ajustes generales pages servicios*/
/*!--main pages servicios */

.imgBannerpages {
  width: 100%;
  height: 16vh;
  z-index: -1;
}

.bannerServicios {
  position: relative;
  height: 700px;
  overflow: hidden;
}

.bannerListadeservicios {
  padding: 40px 0px 40px 106px;
}

.bannerTextosservicios {
  font-family: 'Poppins', sans-serif;
  padding: 40px 0px 40px 106px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.bannerTítulopagesservicios {
  color: #000;
  font-family: Poppins;
  font-size: 86px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 1236px;
}

.subtítuloPagesservicios {
  color: #000;
  font-family: Bebas Neue;
  font-size: 40px;
  font-style: normal;
  display: flex;
  width: 1512px;
  height: 148px;
  padding-top: 20px;
}

.ptextoPagesservicios {
  font-size: 2rem;
  display: flex;
  width: 1512px;
  height: 180px;
}


.serviciosTítulopage {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 1236px;
}


/* Ajustes page contacto */
/*!--main page form contacto--*/

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1,
.div2 {
  width: 50%;
}

main form div label {
  font-family: 'Poppins', sans-serif;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main form div h2 {
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #a9acad;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #a9acad;
  font-family: 'Poppins', sans-serif;
}

.contacto-h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 76px;
  font-weight: 700;

}

.contacto-label {
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.contacto-input {
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

.contacto-button {
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}


/* AJUSTES MEDIAQUERY */

@media screen and (max-width: 1440px) {

  /*Nuevas Medidas*/
  /*!--main section banner--*/
  /* Ajustes para la sección banner */
  .imgbanner {
    width: 100%;
    height: 80vh;
    z-index: -1;
  }

  .bannerTextos {
    position: absolute;
    height: 730px;
    width: 70%;
    top: 12.5%;
    bottom: 10%;
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.60);
    padding: 40px 0px 40px 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }

  /* Ajustes para la sección freelance */
  .freelance {
    padding: 2.5px 0;
  }

  .cardFreelance {
    padding: 6vh 100px 6vh 100px;
  }

  .cardFreelance h2 {
    font-size: 22px;
  }

  .cardFreelance p {
    font-size: 16px;
  }

  .cardFreelance ul li {
    font-size: 14px;

  }

  /* Ajustes generales pages servicios*/
  /*!--main pages servicios */

  .bannerTítulopagesservicios {
    font-size: 76px;
  }

  .subtítuloPagesservicios {
    font-size: 35px;
  }

  .ptextoPagesservicios {
    width: 1440px;
  }

  .serviciosTítulopage {
    font-size: 35px;
  }
}


/*Falta ajustes el subtítulo y el texto en servicios*/


@media screen and (max-width: 1370px) {

  /*Nuevas Medidas*/
  /* Ajustes para la sección banner */

  .bannerTextos {
    height: 580px;
  }

  /* Ajustes para la sección freelance */
  .cardFreelance {
    padding: 5vh 100px 5vh 100px;
  }

  .cardFreelance h2 {
    font-size: 20px;
  }

  .cardFreelance p {
    font-size: 16px;
  }

  .cardFreelance ul li {
    font-size: 12px;

  }

  /* Ajustes generales pages servicios*/

  .bannerTítulopagesservicios {
    font-size: 76px;
  }

  .subtítuloPagesservicios {
    font-size: 35px;
  }

  .ptextoPagesservicios {
    width: 1440px;
  }

  .serviciosTítulopage {
    font-size: 35px;
  }
}



@media screen and (max-width: 1380px) {

  /* Ajustes para la sección freelance */
.cardFreelance h2 {
    font-size: 18px;
  }

.cardFreelance p {
    font-size: 14px;
  }

.cardFreelance ul li {
    font-size: 11px;

  }
}

@media screen and (max-width: 1320px) {

  /*Nuevas Medidas*/
  /* Ajustes para sección banner */
  /*!--main section banner--*/
  .imgbanner {
    width: 100%;
    height: 75vh;
    z-index: -1;
  }

  .bannerTextos {
    position: absolute;
    height: 65%;
    width: 70%;
    top: 12.5%;
  }

  .bannerTextosPrincipal {
    font-size: 4rem;
    font-weight: 700;
  }

}

@media screen and (max-width: 1260px) {

  /*Nuevas Medidas*/
  /* Ajustes para la sección freelance */
  .freelance {
    padding: 2.5px 0;
  }

  .cardFreelance {
    padding: 6vh 100px 6vh 100px;
  }

  .cardFreelance h2 {
    font-size: 20px;
  }

  .cardFreelance p {
    font-size: 14px;
  }

  .cardFreelance ul li {
    font-size: 12px;
  }

  /* Ajustes para s. concentrate*/
  .concentrate p {
    font-size: 2.3rem;
  }

  /* Ajustes para la sección requerimientos */
  .textR1 {
    font-size: 54px;
  }

  .textR2 {
    font-size: 86px;
  }
}

@media screen and (max-width: 1250px) {

  /* Ajustes para la sección freelance */
  .cardFreelance {
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }

  .cardFreelance ul li {
    font-size: 12px;
  }

  /* Ajustes page contacto */
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .div1,
  .div2 {
    width: 50%;
  }


  form {
    padding: 15px;
  }

  label {
    margin-bottom: 4px;
  }

  .contacto-h2 {
    font-size: 66px;
  }

  .contacto-label {
    line-height: 2rem;
    font-size: 2rem;
  }
}
/*
@media screen and (max-width: 1210px) {
  /* Ajustes para la sección freelance 

  .cardFreelance {
    height: 32.9vw;
    padding: 15px 90px 0px 90px;
  }

  .cardFreelance {
    width: 40%;
    font-family: 'Poppins', sans-serif;
  }

  .cardFreelance ul li {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media screen and (max-width: 1210px) {

  /*Medidas*/
  /* Ajustes para botón frelance 
  .tamañoTextoFreelance {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 1190px) {

  /*Medidas*/
  /* Ajustes para botón frelance 
  .tamañoTextoFreelance {
    font-size: 1.4rem;
  }

  .cardFreelance ul li {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .consultaBtn {
    font-size: 12px;
  }

}

@media screen and (max-width: 1148px) {

  /*Medidas*/
  /* Ajustes para botón frelance 
  .tamañoTextoFreelance {
    font-size: 1.5rem;
  }

  .cardFreelance ul li {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .consultaBtn {
    font-size: 10px;
  }

}

@media screen and (max-width: 992px) {
  /*Medidas*/
  /* Ajustes para la sección banner 


  .bannerTextosPrincipal {
    font-size: 3rem;
    font-weight: 700;
  }


  .textoBanner p {
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
  }

  .bannerDisciplines {
    height: 60%;
  }

  /* Ajustes para la sección card *

  .cardDiseño {
    width: 400px;
    height: 686px;
    padding: 50px;
  }

  .títuloCard {
    font-size: 1.5rem;
  }

  .card-container .pnegritaCard {
    font-size: 1.5rem;
  }

  .card-container p {
    font-size: 1.5rem;
  }

  .button1 {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-style: none;
    color: #fff;
    padding: 2.5px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    cursor: pointer
  }

  /*--Main--

  main p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
  }

  /* Ajustes para la sección freelance 
  .freelance {
    padding: 3px 0;
  }

  .cardFreelance {
    padding: 30px 80px 0px 80px;
  }

  .cardFreelance ul li {
    font-size: 10px;
    font-weight: 700;
  }

  /* Ajustes para la sección concentrate 
  .concentrate p {
    font-size: 18px;
  }

}

@media screen and (max-width: 430px) {}


@media screen and (max-width: 320px) {}

