.bannerListadeservicios {
  padding: 40px 0px 40px 106px;
  div {
    div {
      .serviciosTítulopage {
        color: #000;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 1236px;
      }
    }
    div {
      .h2Servicios {
        color: #000;
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
