main {
  padding-top: 63.64px;
  section {
    }
    figure {
      img {
        .imgbanner {
          width: 100%;
          height: 100vh;
          z-index: -1;

      }
    }
    div {
      .bannerTextos {
        position: absolute;
        height: 85%;
        width: 70%;
        top: 15%;
        bottom: 15%;
        font-family: 'Poppins', sans-serif;
        background: rgba(255, 255, 255, 0.60);
        padding: 40px 0px 40px 106px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-shrink: 0;
        div {
          .bannerDisciplines {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex-shrink: 0;
          }
          h2 {
            .bannerTextosPrincipal {
              font-size: 5rem;
              font-weight: 700;
            }
          }
        div {
          .textoBanner {
            height: 17%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex-shrink: 0;
          }
          h1 {
            .textoBanner h1 {
              line-height: 2rem;
              font-family: 'Poppins', sans-serif;
              font-size: 3rem;
              font-weight: 600;
            }
            p {
              .textoBanner p {
                line-height: 2rem;
                font-family: 'Poppins', sans-serif;
                font-size: 2.5rem;
              } 
            }
          }
          }
        }

    }
    
  }
  section {
      
  }
}
}