/* AJUSTES MEDIAQUERY */

@media screen and (max-width: 1440px) {

  /*Nuevas Medidas*/
  /*!--main section banner--*/
  /* Ajustes para la sección banner */
  .imgbanner {
    width: 100%;
    height: 80vh;
    z-index: -1;
  }

  .bannerTextos {
    position: absolute;
    height: 730px;
    width: 70%;
    top: 12.5%;
    bottom: 10%;
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.60);
    padding: 40px 0px 40px 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }

  /* Ajustes para la sección freelance */
  .freelance {
    padding: 2.5px 0;
  }

  .cardFreelance {
    padding: 6vh 100px 6vh 100px;
  }

  .cardFreelance h2 {
    font-size: 22px;
  }

  .cardFreelance p {
    font-size: 16px;
  }

  .cardFreelance ul li {
    font-size: 14px;

  }

  /* Ajustes generales pages servicios*/
  /*!--main pages servicios */

  .bannerTítulopagesservicios {
    font-size: 76px;
  }

  .subtítuloPagesservicios {
    font-size: 35px;
  }

  .ptextoPagesservicios {
    width: 1440px;
  }

  .serviciosTítulopage {
    font-size: 35px;
  }
}


/*Falta ajustes el subtítulo y el texto en servicios*/


@media screen and (max-width: 1370px) {

  /*Nuevas Medidas*/
  /* Ajustes para la sección banner */

  .bannerTextos {
    height: 580px;
  }

  /* Ajustes para la sección freelance */
  .cardFreelance {
    padding: 5vh 100px 5vh 100px;
  }

  .cardFreelance h2 {
    font-size: 20px;
  }

  .cardFreelance p {
    font-size: 16px;
  }

  .cardFreelance ul li {
    font-size: 12px;

  }

  /* Ajustes generales pages servicios*/

  .bannerTítulopagesservicios {
    font-size: 76px;
  }

  .subtítuloPagesservicios {
    font-size: 35px;
  }

  .ptextoPagesservicios {
    width: 1440px;
  }

  .serviciosTítulopage {
    font-size: 35px;
  }
}



@media screen and (max-width: 1380px) {

  /* Ajustes para la sección freelance */
.cardFreelance h2 {
    font-size: 18px;
  }

.cardFreelance p {
    font-size: 14px;
  }

.cardFreelance ul li {
    font-size: 11px;

  }
}

@media screen and (max-width: 1320px) {

  /*Nuevas Medidas*/
  /* Ajustes para sección banner */
  /*!--main section banner--*/
  .imgbanner {
    width: 100%;
    height: 75vh;
    z-index: -1;
  }

  .bannerTextos {
    position: absolute;
    height: 65%;
    width: 70%;
    top: 12.5%;
  }

  .bannerTextosPrincipal {
    font-size: 4rem;
    font-weight: 700;
  }

}

@media screen and (max-width: 1260px) {

  /*Nuevas Medidas*/
  /* Ajustes para la sección freelance */
  .freelance {
    padding: 2.5px 0;
  }

  .cardFreelance {
    padding: 6vh 100px 6vh 100px;
  }

  .cardFreelance h2 {
    font-size: 20px;
  }

  .cardFreelance p {
    font-size: 14px;
  }

  .cardFreelance ul li {
    font-size: 12px;
  }

  /* Ajustes para s. concentrate*/
  .concentrate p {
    font-size: 2.3rem;
  }

  /* Ajustes para la sección requerimientos */
  .textR1 {
    font-size: 54px;
  }

  .textR2 {
    font-size: 86px;
  }
}

@media screen and (max-width: 1250px) {

  /* Ajustes para la sección freelance */
  .cardFreelance {
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }

  .cardFreelance ul li {
    font-size: 12px;
  }

  /* Ajustes page contacto */
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .div1,
  .div2 {
    width: 50%;
  }


  form {
    padding: 15px;
  }

  label {
    margin-bottom: 4px;
  }

  .contacto-h2 {
    font-size: 66px;
  }

  .contacto-label {
    line-height: 2rem;
    font-size: 2rem;
  }
  
}