/* AJUSTES MEDIAQUERY */

@media screen and (max-width: 1320px) {

  /* Ajustes para la sección banner */
  .bannerTextosPrincipal {
    font-size: 4rem;
  }

  .textoBanner p {
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
  }

  .imgbanner {
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  .nav-link {
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .bannerTextos {
    position: absolute;
    height: 85%;
    width: 70%;
    top: 10%;
    bottom: 10%;
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.60);
    padding: 40px 0px 40px 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .bannerTextosPrincipal {
    font-size: 5rem;
    font-weight: 700;
    font-size: 5rem;
  }

  .textoBanner {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .textoBanner p {
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
  }

  .bannerDisciplines {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }

  /* Ajustes para la sección freelance */

  .freelance {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
  }

  .cardFreelance {
    height: 33vw;
    padding: 30px 70px 0px 70px;
  }

  .textoFreelance {
    width: 50%;
    font-family: 'Poppins', sans-serif;
  }

  .cardFreelance ul li {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  /* Ajustes para la sección concentrate */
  .concentrate p {
    font-size: 24px;
    font-weight: 700;
  }

  /* Ajustes para la sección requerimientos */


  .textR1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Bebas Neue;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .textR2 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Bebas Neue;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (max-width: 1270px) {

  /*Medidas*/
  /* Ajustes para botón frelance */
  .tamañoTextoFreelance {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1210px) {

  /*Medidas*/
  /* Ajustes para botón frelance */
  .tamañoTextoFreelance {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1210px) {

  /*Medidas*/
  /* Ajustes para botón frelance */
  .tamañoTextoFreelance {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1190px) {

  /*Medidas*/
  /* Ajustes para botón frelance */
  .tamañoTextoFreelance {
    font-size: 1.4rem;
  }

  .cardFreelance ul li {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .consultaBtn {
    font-size: 12px;
  }

}

@media screen and (max-width: 1148px) {

  /*Medidas*/
  /* Ajustes para botón frelance */
  .tamañoTextoFreelance {
    font-size: 1.5rem;
  }

  .cardFreelance ul li {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .consultaBtn {
    font-size: 10px;
  }

}

@media screen and (max-width: 992px) {
  /*Medidas*/
  /* Ajustes para la sección banner */


  .bannerTextosPrincipal {
    font-size: 3rem;
    font-weight: 700;
  }


  .textoBanner p {
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
  }

  .bannerDisciplines {
    height: 60%;
  }

  /* Ajustes para la sección card */

  .cardDiseño {
    width: 400px;
    height: 686px;
    padding: 50px;
  }

  .títuloCard {
    font-size: 1.5rem;
  }

  .card-container .pnegritaCard {
    font-size: 1.5rem;
  }

  .card-container p {
    font-size: 1.5rem;
  }

  .button1 {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-style: none;
    color: #fff;
    padding: 2.5px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    cursor: pointer
  }

  /*--Main--*/

  main p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
  }

  /* Ajustes para la sección freelance */
  .freelance {
    padding: 3px 0;
  }

  .cardFreelance {
    padding: 30px 80px 0px 80px;
  }

  .cardFreelance ul li {
    font-size: 10px;
    font-weight: 700;
  }

  /* Ajustes para la sección concentrate */
  .concentrate p {
    font-size: 18px;
  }

}

@media screen and (max-width: 430px) {}

/*Medidas Iphone 14&15 Pro 430x932*/

@media screen and (max-width: 320px) {}

/*Medidas Iphone SE 320x568*/